<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <title>Todo App</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <input
        v-model="newTodo"
        type="text"
        placeholder="Aggiungi un nuovo Todo"
      />
      <button @click="addTodo">Aggiungi</button>

      <ul>
        <li v-for="todo in todos">{{ todo }}</li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
